.header {
    height: 50px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    padding: 5px;
}

.header img {
    margin: auto 5px auto 20px;
    height: 50px;
    width: 50px;
}

.header h2 {
    color: white;
}

.header h3 {
    margin-left: auto;
    margin-right: 40px;
}