.body-dark{
    background-color: #000;
    height: 100vh;
    width: 100vw;
    padding-top: 1em;
}

.body-dark .form-button {
    grid-column: 1/-1;
    font-size: 16px;
    border-radius: 10px;
    color: rgba(9, 9, 121, 1);
    background-color: aqua;
}


.body-dark  .form-input {
    border-color: aqua;    
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}




.body{
    height: 100vh;
    width: 100vw;
    padding-top: 1em;
}


main {
    width: 40%;
    margin: 0 auto;
}
.form {
    display: grid;
    grid-template: 50px 50px / 1fr 1fr;
    gap: 50px;
}

.form-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.form-button {
    grid-column: 1/-1;
    font-size: 16px;
    border-radius: 10px;
    color: aqua;
    background-color: rgba(9, 9, 121, 1);
}

.meme {
    position: relative;
}

.meme-image {
    margin-top: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.top-text {
    font-size: 50px;
    color: white;
    z-index: 100;
    position: absolute;
    font-weight: bold;
    top: 50px;
    left: 20%;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.bottom-text {
    font-size: 50px;
    color: white;
    text-shadow: black;
    z-index: 100;
    position: absolute;
    font-weight: bold;
    top: 350px;
    left: 20%;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
}