.header {
    height: 100px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    padding: 15px;
}

.header img {
    height: 60px;
    width: 60px;
}

.header h2 {
    color: white;
}

.header h4 {
    
}